body {
    background-color: #d6d7dc;
  
}
    

button {
    width: 100px;
    height: 100px;
    font-size: 32px;
    background-color: #b1c5d4;
    border-radius: 50px;
    border: 5px solid white;
    border-style: double;
    justify-content: center;

    
}
button:active {    
    transform: translateY(3px);
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #71879a;
}

#displayContain {
    height: 308px;
    width: 100px;
    position: relative;
    top: 155px;
    left: 753px;

}
#backGround{
    background-color: white;
    height: 580px;
    width: 470px;
    position: absolute;
    z-index: -1;   
    top: -46px;
    left: -30px;
    border: 2px solid #71879a;
    border-radius: 25px;
}
#display {
    z-index: 1;
    position: relative;
    width: 308px;
    height: 100px;   
    font-size: 32px;
    text-align: right; 
}

#calcContain {
    position: relative;
    left: 750px;
    bottom: 157px;
    width: 522px; 
  
}
.numbers {
    background-color: #b1c5d4;
}
.operators {
    background-color: #71879a;
    font-size: 40px;
}
#equals{
    background-color: #d8b9aa;

}
#clear {
    background-color: #d8b9aa;
    height: 50px;
}
#backSpace {
    height: 50px;
    background-color: #d8b9aa;
    font-size: 24;
}